In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("advertising_data.csv",index_col=0)
df.reset_index(drop=True,inplace=True)
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9        NaN    9.3
3  151.5   41.3       58.5   18.5
4  180.8    NaN       58.4   12.9

In [3]:
df.dtypes

TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

In [4]:
col_dtypes=df.dtypes
print(type(col_dtypes))

<class 'pandas.core.series.Series'>

In [5]:
print(col_dtypes.index)

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [6]:
for col in col_dtypes.index:
    print(col,col_dtypes[col])

TV float64
radio float64
newspaper float64
sales float64

In [7]:
schema= {"TV": "float64", "radio" : "float64", "newspaper" : "float64", "sales" : "float64"}

print(schema.keys())

dict_keys(['TV', 'radio', 'newspaper', 'sales'])

In [8]:
print(schema.values())

dict_values(['float64', 'float64', 'float64', 'float64'])

In [9]:
for i in schema.keys():
    print(schema[i])

float64
float64
float64
float64

In [10]:
col_dtypes = df.dtypes

for i, j in zip(col_dtypes.index,schema.keys()):
    if i==j:
        if col_dtypes[i]==schema[j]:
            print(True)
        else:
            print(False)

True
True
True
True